body {
    max-width: 1170px;
    margin: auto;
    box-sizing: border-box;

}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
table {
    width: 100%;
    text-align: center;
}
img {
    width: 100%;
    height: auto;
}
td {
    width: 100px;
    height: 100px;
}
.img_lite {
    width: 300px;
    height: 250px;
}
a {
    text-decoration: none;
}
.cards_container {
    border: 1px solid blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 1000px;
    /*flex-wrap: wrap;*/
}
.cards{
    border: 1px solid red;
    width: 33%;
    height: 300px;
}
.payment_table td{
    border:1px solid black;
    width: 100px;
}