@font-face {
  font-family: "Roboto";
  src: url("Fonts/Roboto/Roboto-Regular.ttf")
}

@font-face {
  font-family: "Raleway";
  /*src: url("Fonts/Raleway/Raleway-VariableFont_wght.ttf")*/
  src: url("Fonts/Raleway/static/Raleway-ExtraLight.ttf")
}

@font-face {
  font-family: "Ultra";
  src: url("Fonts/Ultra/Ultra-Regular.ttf")
}

/*=======================================================================================*/

/*=================================  GLOBAL  ============================================*/

/*=======================================================================================*/

:root {
  --title-font: "Ultra", sans-serif;
  --second-font: "Roboto", sans-serif;
  --main-font: "Raleway";
  --main-bg: #F8F3E8;
  /*--main-border: #F8F3E8;*/
  --main-border: #DDC3A2;
  --main-overlay: rgba(51, 51, 51, 0.6);
  --font-color: #6F3A16;
  /*--title-color: rgb(18, 54, 68);*/
  --title-color: #0B0B45;
  --secondary-color: #D4AF37;
  --text-color: #123644;
  /*--btn-bg: rgb(210,183,139);*/
  --btn-bg: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(210, 183, 139, 1) 100%);
  --main-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  --second-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  --third-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: sans-serif;
  width: auto;
  background-color: #FFFDF9;
}

section {
  margin: 2rem auto;
}

.container {
  max-width: 600px;
  margin: 0 1.5rem;
  box-sizing: border-box;
  padding: 1rem 0;
}

.table__container {
  max-width: 600px;
  margin: auto;
  box-sizing: border-box;
  padding: 1rem 0;
}

th,
td {
  padding: 0.5rem 0.75rem;
}

h1,
h2,
h3,
h4 {
  font-family: var(--title-font);
  color: var(--title-color);
  font-weight: lighter;
  margin: 0;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.50rem;
}
h4{
  font-size: 1.25rem;
}
p {
  font-family: var(--second-font);
  font-size: 1.2rem;
  color: var(--text-color);
}
a {
  font-family: var(--second-font);
  text-decoration: none;
  color: #0B0B45;
}

.navlink a {
  text-decoration: none;
  background-color: var(--btn-bg);
  border: none;
  padding: 1rem 1.5rem;
  background: linear-gradient(180deg, rgba(235, 227, 219, 1) 0%, rgba(210, 180, 139, 1) 100%);
  color: var(--title-color);
  font-size: 0.8em;
}



ul {
  padding: 0;
}

li {
  list-style-type: none;
}

input {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -50px 36px -28px inset;
  height: 1.5rem;
  margin: 1rem;
  border-radius: 10%;
  text-align: center;
  font-family: var(--second-font);
}

button {
  background-color: var(--btn-bg);
  border: none;
  padding: 1rem 1.5rem;
  background: linear-gradient(180deg, rgba(235, 227, 219, 1) 0%, rgba(210, 180, 139, 1) 100%);
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.5s;
  font-family: var(--second-font);
  font-size: 0.9rem;
  color: var(--title-color);
}

label {
  margin-top: .5rem;
}

input[type="submit"] {
  appearance: none;
  background-color: var(--btn-bg);
  border: none;
  padding: 1rem 1.5rem;
  background: linear-gradient(180deg, rgba(235, 227, 219, 1) 50%, rgba(210, 180, 139, 1) 100%);
  margin-top: 1rem;
  text-align: center;
  height: auto;
}


select {
  width: 8rem;
  height: 3rem;
  background-color: rgba(323, 175, 55, 0.3);
  margin-top: 1rem;
  border: none;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

table {
  border-spacing: 0;
}

td,
th {
  border-bottom: 1px solid var(--main-border);
}

textarea {
  border: 5px solid var(--main-border);
  width: 15rem;
  height: 10rem;
  font-family: var(--main-font);
  font-size: 1rem;
}

.img-errorBack {
  color: red;
  font-weight: bold;
}

@media only screen and (min-width: 700px) {
  .container {
    max-width: 780px;
    margin: auto;
  }
  p {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width:1200px) {
  .container {
    max-width: 1170px;
    margin: auto;
  }
  p {
    font-size: 1.2rem;
  }
  .table__container {
    max-width: 1170px;
  }
  textarea {
    width: 20rem;
  }
  .navlink a:hover {
  border: 2px solid var(--secondary-color);
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all 0.25s;
  cursor: pointer;
}
button:hover {
  /*background: linear-gradient(0deg, rgba(255, 255, 255, 1) 60%, rgba(210, 183, 139, 1) 100%);;*/
  border: 2px solid var(--secondary-color);
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all 0.25s;
}
input[type="submit"]:hover {
  border: 2px solid var(--secondary-color);
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all 0.25s;
  cursor: pointer;
}
}

/*============================================================================================*/

/*================================HEADER===================================================*/

/*============================================================================================*/

.header__background {
  background-image: url(../../../public/img/header_background.jpg);
  text-align: center;
  width: 100%;
  height: 16rem;
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.header__background-overlay {
  background-color: var(--main-overlay);
  width: 100%;
  padding: 1rem 0;
}

.header__background-overlay h1,
.header__background-overlay p{
  color: white;
}

.header__img-container {
  width: 5rem;
  margin: auto;
}

@media only screen and (min-width: 700px) {
  .header__background {
    background-position: bottom -4rem right 0;
    height: 25rem;
  }
  .header__img-container {
    width: 5rem;
    margin: auto;
  }
}

@media only screen and (min-width: 800px) {
  .header__background {
    height: 30rem;
    background-repeat: no-repeat;
  }
}

/*============================================================================================*/

/*================================FOOTER===================================================*/

/*============================================================================================*/

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg);
  padding-bottom: 7rem;
  padding-top: 1rem;
}

.footer h2 {
  padding-bottom: 2rem;
}

.footer__social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  color: black;
}

@media only screen and (min-width: 1200px) {
  .footer {
    padding-bottom: 2rem;
  }
}

/*============================================================================================*/

/*================================HOME===================================================*/

/*============================================================================================*/

.home__header {
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 0;
}

.home__header p {
  color: #6F3A16;
}

.home__footer {
  padding: 2rem 0;
}

.home__footer-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

.home__footer-container a {
  color: var(--title-color);
  padding: 1rem 2rem;
  background-color: var(--btn--bg);
  display: flex;
  border-radius: 5%;
  width: 80%;
}

.home__footer-container p {
  margin-top: 0;
}

/*============================================================================================*/

/*================================NAVBAR===================================================*/

/*============================================================================================*/

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__nav {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 700px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 200;
}

.navigation__list {
  position: absolute;
  top: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  height: 85%;
  padding-top: 2rem;
  list-style: none;
  display: flex;
  text-align: center;
  flex-direction: column;
  transition: all 800ms;
  padding: 5rem 0;
  overflow: scroll;
  border-bottom: 5px solid var(--main-bg);
}

.navigation__link {
  display: inline-block;
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: #f4f4f4;
  font-size: 2.4rem;
  text-decoration: none;
  color: white;

}

.navigation__link:hover {
  color: var(--title-color);
  transform: scale(1.2);
}

.navigation__button {
  
  position: fixed;
  bottom: 2rem;
  right: 50%;
  transform: translateX(50%);
  height: 4rem;
  width: 4rem;
  text-align: center;
  background-color: #fff;
  border-radius: 50%;
  z-index: 300;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: none;
  background-color: var(--btn-bg);
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
 
}


.navigation__background {
  position: fixed;
  bottom: 2rem;
  right: 50%;
  transform: translateX(50%);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-position: center;
  z-index: 100;
  transition: all 800ms cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation__background-scale {
  transform: scale(80);
}

@media only screen and (min-width: 768px) {
  .navigation__list {
    height: 85%;
  }
}

@media only screen and (min-width: 1000px) {
  .navigation {
    display: initial;
  }
  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0%);
    }
  }
  .navigation__nav {
    position: sticky;
    top: 0;
    width: 100%;
    max-width: none;
    margin: auto;
    z-index: 200;
    height: auto;
    padding: 0;
    background-color: rgba(248, 243, 232, 0.7);

  }


  .navigation__list {
    position: sticky;
    top: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: initial;
    padding: 1.5rem 0;
    overflow: visible;
    border-bottom: 5px solid var(--btn-bg);
  }


  .navigation__link {
    padding: 0;
    color: #D4AF37;
    font-size: 1.1rem;
    text-decoration: none;
    transition: all .2s;
    opacity: 1;
  }
  .navigation__background {
    display: none;
  }
  .navigation__button {
    display: none;
  }
}

/*============================================================================================*/

/*================================CARROUSEL===================================================*/

/*============================================================================================*/

/* Slideshow container */

.slider-container {
  position: relative;
  margin: auto auto 20px auto;
  margin-bottom: 20px;
  width: 100%;
  height: 18.75rem;
}

.slide {
  display: none;
  width: 100%;
  height: 100%;
}

.photo {
  width: 100%;
  height: 300px;
  object-fit: cover;
  overflow: scroll;


}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border: none;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.caption {
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

.dots {
  display: flex;
  justify-content: center;
  margin: 3rem auto;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  transition: 0.5s;
}

.dotActive,
.dot:hover {
  background-color: gray;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 700px) {
  .slider-container {

    position: relative;
    margin: auto auto 20px auto;
    margin-bottom: 20px;
    width: 100%;
    height: 18.75rem;

  }
  .photo {
    width: 100%;
    height: 18.75rem;
    object-fit: cover;
    overflow: scroll;
  }
}

@media only screen and (min-width: 1200px) {
  .slider-container {

    position: relative;
    margin: auto auto 20px auto;
    margin-bottom: 20px;
    width: 100%;
    height: 43.75rem;
  }
  .photo {
    width: 100%;
    height: 43.75rem;
    object-fit: cover;
    overflow: scroll;
  }
}

/*============================================================================================*/

/*================================ ARTICLE ===================================================*/

/*============================================================================================*/

article {
  text-align: center;
  padding: 2rem 0;
}

.article__content>* {
  margin: 0.9rem 0;
}

.article__content p {
  color: var(--font-color);
}

.article__content {
  margin: 1rem 0;
  padding: 1rem 1rem;
  box-shadow: var(--main-shadow);
}

.article__admin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  heigth: 50px;
  text-align: center;
}

.article__admin-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}

.article__admin-inputs label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
  width: 15rem;
}

.article__options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem 0 1rem 0;
  border-top: 1px solid black;

}

.article__options a {
  background-color: var(--btn-bg);
  border: none;
  padding: 1rem 1.5rem;
  background: linear-gradient(180deg, rgba(235, 227, 219, 1) 0%, rgba(210, 180, 139, 1) 100%);
  color: var(--title-color);
  font-size: 0.8em;
}
.article__options a:hover {
  border: 2px solid var(--secondary-color);
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all 0.25s;
  cursor: pointer;
}

.article__options button {
  margin-top: 0;
}

@media only screen and (min-width: 700px) {
  .article__content-img {
    width: ;
  }
}

@media only screen and (min-width: 1200px) {
  .article__content {
    margin: 1rem 0;
    padding: 1rem 1rem;
    box-shadow: var(--main-shadow);
    /*display: flex;*/
    position: relative;
  }
  .article__content-title {
    width: 100%;
    height: 2rem;
    margin-bottom: 5rem;
  }
  .article__admin-inputs {
    border: 5px solid var(--main-border);
    border-radius: 15%;
  }
  .article__content-content:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .article__content-content p {
    max-width: 50%;
  }
  .article__content-img {
    margin-right: 2rem;

  }
  .article__content-img {
    width: 30rem;
  }
  .article__admin {
    display: block;
  }
}

/*============================================================================================*/

/*================================UPDATE ARTICLE==============================================*/

/*============================================================================================*/

.update__container {
  text-align: center;
  padding: 1.5rem 0;
}

.section__update-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem 0 1rem 0;
}

.section__update-inputs label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.section__update-inputs label textarea {
  margin-top: 1rem;
}

.section__update-inputs input {
  padding: 1rem 1.5rem;
  text-align: center;
  border-radius: 5%;

}

.section__update-submit {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  line-height: 0%;
  border-radius: 10% / 50%;
}

@media only screen and (min-width: 1200px) {
  .section__update-inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .update__container-img {
    width: 100%;
    grid-column: 2 / 3;
    border-radius: 10%;
    overflow: hidden;
  }
  .section__update-inputs label {
    grid-row: 2;
    box-shadow: var(--second-shadow);
    padding: 1rem;
  }
  .section__update-inputs .section__update-area {
    grid-row: 3;
    grid-column: 2;
    padding: 1rem;
  }
  .section__update-inputs input:last-child {
    grid-column: 2;
    grid-row: 4;
  }
  .section__update-inputs input {
    padding: 2rem 3rem;
  }
}

/*=======================================================================================*/

/*=================================  CONTACT  ============================================*/

/*=======================================================================================*/
.contact {
  text-align: center;
}
.contact h3{
  color: var(--font-color);
}
.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
}
.contact__form__header-name p, 
.contact__form__header-firstName p {
  color: var(--font-color);
  font-weight: bold;
  font-size: 1.25rem;
}
 {

}

.contact__form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
}

.contact__form button {
  margin-top: 1rem;
}

@media only screen and (min-width: 1200px) {
  .contact__form header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
  }
  .contact__form__header-name,
  .contact__form__header-firstName {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 25%;
  }
}

/*=======================================================================================*/

/*=================================  ABOUT  ============================================*/

/*=======================================================================================*/

.about {
  text-align: center;
}

.about__footer {
  text-align: center;
  border: 5px solid var(--main-border);
  border-radius: 25%;
  padding: 1rem 2rem;
  shadow-box: var(--second-shadow);
  background-color: var(--main-bg);
}

.about__footer-link {
  font-weight: bold;
}

/*=======================================================================================*/

/*=================================  CONNEXION  ============================================*/

/*=======================================================================================*/

.connexion__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .connexion__form {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .connexion__form label {
    width: 50%;
    justify-content: space-between;
  }
  .connexion__form button {
    margin: 2rem auto 2rem auto;
    justify-content: space-between;
  }
}

/*=======================================================================================*/

/*=================================  REGISTER  ============================================*/

/*=======================================================================================*/

.register__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register__form label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.errorActive {
  transition: all 1.5s;
  font-size: 0.8rem;
}

.errorInactive {
  display: inline-block;
  transition: all 1.5s;
  font-size: 1rem;
  padding: 0.5rem;
  color: green;
}

@media only screen and (min-width: 1200px) {
  .register__form {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .register__form input {
    width: 35%;
  }
  .register__form>:nth-child(1),
  .register__form>:nth-child(2) {
    width: 45%;
  }
  .register__form>:nth-child(3),
  .register__form>:nth-child(4) {
    width: 100%;
  }
  .register__form button {
    cursor: pointer;
  }
}

/*=======================================================================================*/

/*=================================  SHOP  ============================================*/

/*=======================================================================================*/

.shop__header {
  text-align: center;
}

.cards {
  margin: 3rem 0;
  text-align: center;
  box-shadow: var(--second-shadow)
}
.cards__details {
  color: var(--title-color);
  
}
.cards__details h4{
  margin-bottom: 1rem;
}

.cards__details a{
  color: var(--font-color);
  font-weight: bold;
  border: 3px solid var(--main-border);
  padding: 0.5rem;
  margin-bottom: 2rem;
  display: inline-block;
  
}

@media only screen and (min-width: 700px) {
  .cards__img-container {
    margin: 1rem 5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .cards__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    justify-items: center;
  }
  .cards__title {
    margin: 2rem 2rem;
  }
  .cards__img-container {
    width: 90%;
    margin: 1rem auto;
    overflow: hidden;
  }
  .cards__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
  }
  
  .cards__footer {
    margin-bottom: 2rem;
  }
}

/*=======================================================================================*/

/*=================================  MON COMPTE  ====================================*/

/*=======================================================================================*/

.section__account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.account__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.account__modify-button {
  background-color: rgba(210, 183, 139, 0.3);
  border-radius: 5%;
  padding: 1rem 1.5rem;
  color: rgb(18, 54, 68);
}
.account__modify-button:hover {
  border: 2px solid var(--secondary-color);
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: all 0.25s;
  cursor: pointer;
}

.account__name-span {
  color: var(--font-color);
}

/*=======================================================================================*/

/*=================================  MODIF PROFIL  ====================================*/

/*=======================================================================================*/

.profil__container {
  text-align: center;

}

.profil__main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.profil__main-form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profil__main-form button {
  width: 8rem
}

/*=======================================================================================*/

/*=====================================  PANIER  =======================================*/

/*=======================================================================================*/

.basket__container {
  text-align: center;
  padding: 4rem 0;
}

.basket__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.basket__card-content {
  padding: 2rem 0;
  margin-top: 2, rem 0;
}

.basket__container main a {
  background-color: rgba(210, 183, 139, 0.3);
  border-radius: 5%;
  padding: 1rem 1.5rem;
  color: rgb(18, 54, 68);
  margin-top: 3rem;
}

.basket__payment {
  margin: 1rem 0;
}

@media only screen and (min-width: 700px) {
  .basket__card-img {
    margin: 1rem 5rem;
  }
}

@media only screen and (min-width: 1200px) {
  .basket__main {
    flex-direction: initial;
    justify-content: space-evenly;
    align-items: stretch;
    height: auto;
    flex-wrap: wrap;
  }
  .basket__card-content {
    width: 23%;
    padding: 2rem 0.5rem;
    margin: 1rem 1rem;
  }
  .basket__card-img {
    width: 15rem;
    margin: 1rem 1rem;
  }
  .basket__payment {
    width: 100%;
    margin-top: 3rem;

  }
  .basket__payment:hover {
    transform: scale(1.2);
    transition: all .5s;
  }
  .basket__payment a {
    border: 3px solid var(--secondary-color);
  }
  .basket__payment a:hover {
    background-color: white;
    border: 3px solid var(--secondary-color);

  }
}

/*=======================================================================================*/

/*=====================================  PAYMENT  =======================================*/

/*=======================================================================================*/

.payment__table {
  border: 5px solid var(--main-border);
  text-align: center;
  margin: .5rem .5rem;
}

.payment__table th,
.payment__table td {
  padding: .25rem .35rem;

}

.payment__header,
.payment__empty {
  text-align: center;
}

.payment__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.payment__card label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.payment__card label input {
  width: 100%;
  text-align: center;
}

.payment__table__footer tr th,
.payment__table__footer tr td {
  padding: 1.5rem 0;
  font-size: 1.2rem;
}
.payment__msg {
  margin: 1rem;
}
@media only screen and (min-width: 1200px) {
  .payment__table {
    width: 100%;
    margin: auto;
  }
  .payment__img-container {
    width: 15rem;
    margin: auto;
  }
  .payment__card {
    border: 2px solid var(--main-border);
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 0;
  }
  .payment__card-info {
    width: 100%;
    display: flex;

  }
  .payment__card label {
    width: 50%;

  }
  .payment__card label input {
    width: 50%;
  }

}

/*=======================================================================================*/

/*=====================================  CREATOR  =======================================*/

/*=======================================================================================*/

.creator {
  text-align: center;
}

.creator ul {
  margin: 2rem auto;
}

.creator ul li {
  border: var(--main-border);
}

.creator ul li a {
  color: var(--font-color);
  font-weight: bold;
  border: 5px solid var(--main-border);
  padding: .5rem 0.75rem;
  margin: 1rem auto;
}

.creator__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem auto;
}

.creator__main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.creator__main-form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.creator__img-container {
  width: 10rem;
  border-radius: 25%;
  overflow: hidden
}

@media only screen and (min-width: 1200px) {
  .creator__main {
    display: flex;
    justify-content: space-evenly;


  }
  .creator__main-txtInputs {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 2rem auto;
  }
  .creator__img-container {
    width: 20rem;
  }
  .creator__main-form {
    width: 100%;
  }
  .creator ul li a:hover {
  padding: 1.5rem 2.5rem;
  transition: all 0.5s;
}
}

/*=======================================================================================*/

/*========================================== CREATOR PROFIL  =================================*/

/*=======================================================================================*/

.creatorProfil {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.creatorProfil h3 {
  margin: 1rem;
}

.creatorProfil__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.creatorProfil__content-img-container {
  border: 3px solid var(--main-border);
  display: flex;
  width: 10rem;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  overflow: hidden;
  margin: 2rem auto;
}

@media only screen and (min-width: 1200px) {
  .creatorProfil__content {
    flex-direction: row;
  }
  .creatorProfil__content-img-container {
    width: 20rem;
  }
}

/*=======================================================================================*/

/*==========================================  NEWPIECE  =================================*/

/*=======================================================================================*/

.newProduct {
  text-align: center;
}

.newProduct__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.newProduct__form label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (min-width: 1200px) {
  .newProduct__form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 10rem;
  }

}

/*=======================================================================================*/

/*=====================================  GALERY  ==============================*/

/*=======================================================================================*/

.galery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.galery__table-container {
  border: 5px solid var(--main-border);
  width: 90%;
  margin: 1rem auto;
  box-shadow: var(--main-shadow);
}

.myGalery__table {
  width: 100%;
  text-align: center;
}

.myGalery__table {
  width: 100%;
  text-align: center;
}

.galery__table-container button {
  margin: 0;
}

.galery__img-container {
  width: 10rem;
  margin: auto;
}

.galery__btn {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

@media only screen and (min-width: 1200px) {
  .galery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items: initial;
  }
  .galery__table-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

/*=======================================================================================*/

/*=====================================   PRODUCT PAGE ================================*/

/*=======================================================================================*/

.productPage {
  text-align: center;
}

.productPage__navlink {
  margin: 3rem auto;
  display: block;
  box-shadow: rgba(248, 243, 232, 0.50) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  padding: 1rem 2rem;
  width: 8rem;
  border: 2px solid var(--main-border);
}

.productPage__content-container {
  border: 5px solid var(--main-border);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: var(--third-shadow);
  padding: 1rem;
}
.productPage__content-container div {
  margin: 1rem;
}

.productPage__content-container div h3 {
  margin: 1rem;
}

.productPage__img-container {
  width: 15rem;
}

@media only screen and (min-width: 1200px) {
  .productPage__img-container {
  width: 25rem;
}

  .productPage__img-container:hover {
    transform: scale(1.5);
    cursor: pointer;
    border: 10px solid rgba(212, 175, 55, 0.5);
    transition: all 0.5s;
    object-fit: fill
  }
}

/*=======================================================================================*/

/*=====================================  UPDATE PRODUCT  ================================*/

/*=======================================================================================*/

.updateProduct {
  text-align: center;
}

.updateProduct__form label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.updateProduct__form-imgContainer {
  margin: auto;
  width: 15rem;
  border: 5px solid var(--main-border);
}

@media only screen and (min-width: 1200px) {
  .updateProduct__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: var(--second-shadow);
  }
  .updateProduct__img-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .updateProduct__form label {
    justify-content: space-around;
    width: 33%;
  }
  .updateProduct__form label {
    margin: 1rem auto;
  }
  .updateProduct__form-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .updateProduct__form-imgContainer {
    width: 20rem;
  }
}

/*=======================================================================================*/

/*=====================================  APPROVED TABLE  ================================*/

/*=======================================================================================*/

.approved__container {
  border: 5px solid var(--main-border);
  /*margin: 1rem 1rem;*/
  text-align: center;
  margin-top: 2rem;
}

.approved__img-container {
  margin: auto;
  width: 10rem;
}

.approved__row th {
  border-right: 1px solid var(--main-border);
  box-sizing: border-box;
  width: 30%;
  padding: 0.5rem 1rem;
}

.approved__row td {
  width: 70%;
  padding: 0.5rem 1rem;
}

td div {
  display: flex;
  justify-content: center;
  text-align: center;
}

.last_row button {
  margin: 0;
}

@media only screen and (min-width: 1200px) {
  .approved__table-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    heigth: 100%;
    grid-gap: 2rem
  }
  .approved__table-container h2 {
    grid-column: 1/span2
  }
  .approved__container {
    margin: 2rem auto;
    
  }
}

/*=======================================================================================*/

/*=====================================  ADMIN  =========================================*/

/*=======================================================================================*/

.admin {
  text-align: center;
}

.adminNav {
  width: 100%;
  margin: auto;
  border: 3px solid var(--main-border) ;
}

.adminNav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adminNav__list li {
  padding: 0.5rem 0.75rem;
  background-color: var(--btn-bg);
  background: linear-gradient(180deg, rgba(235, 227, 219, 1) 0%, rgba(210, 180, 139, 1) 100%);
  font-size: 0.8em;
  transition: all 0.5s;
}


@media only screen and (min-width: 1200px) {
.adminNav__list li:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(212, 175, 55, 1) 100%);
  /*border: 2px solid var(--main-border);*/
  transition: all 0.5s;
  cursor: pointer;
}  
}

/*=======================================================================================*/

/*=====================================  ADMIN MESSAGE  =========================================*/

/*=======================================================================================*/

.message {
  text-align: center;
  margin: 2rem auto;
}

.message__table-container {
  border: 5px solid var(--main-border);
  width: 90%;
  margin: 1rem auto;
  box-shadow: var(--main-shadow);
}

.message__table {
  padding: 0;
  text-align: center;
}

.message__table-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
}

@media only screen and (min-width: 1200px) {
  .testtable {
    display: grid;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 1.5rem
  }
  .message__table {
    height: 75%;
  }
  .message__table-container {
    width: auto;
    height: 100%;
  }
}

/*=======================================================================================*/

/*=====================================  NEWCREATOR  =========================================*/

/*=======================================================================================*/

.newCreator {
  text-align: center;
}

.newCreator__table-container {
  border: 5px solid var(--main-border);
  width: 90%;
  margin: 1rem auto;
  box-shadow: var(--main-shadow);
}

.newCreator__table-container {
  width: 100%;
}

.newCreator__table {
  width: 100%;
}

.newCreator__table-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

@media only screen and (min-width: 700px) {
  .newCreator h2 {
    width: 100%;

  }
  .newCreator {
    display: flex;
    flex-wrap: wrap;
  }
  .newCreator__table-container {
    width: 45%;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-width: 1200px){
  .newCreator__table-container {
    width: 33%;
  }
}

/*============================================================================================*/

/*============================================================================================*/

/*============================================================================================*/
